<%= image_tag "banner_marvel_topo", class: 'banner img-fluid' %>
<br/>
<div class="container">
    <h2 class="form-signin-heading">Log in</h2>
    <% if flash[:danger] %>
      <div class="alert alert-danger"><%= flash[:danger] %></div>
    <% end %>
    <%= form_for :marvel_api_auth, url: login_path do |f| %>
        <%= f.label :api_key %>
        <%= f.text_field :api_key, placeholder: "Marvel's API Key", required: true, autofocus: true, autocomplete: true, class: 'form-control' %>
        <br/>
        <%= f.label :private_key %>
        <%= f.password_field :priv_key, placeholder: "Marvel's Private Key", autocomplete: false, required: true, class: 'form-control' %>
        <%= submit_tag 'Sign in', class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    <h6>
        <%= link_to 'Do not have an account, click here!', signup_path  %>
    </h6>
</div>
