<%= render 'layouts/header' %>
<div class="container aligned">
  <h1 class="form-signin-heading">Sign Up</h1>
    <h2 class="form-signin-heading">Please enter your keys</h2>
    <%= form_for @user do |f| %>
        <%= render 'layouts/user_errors' %>
        <%= f.label :api_key %>
        <%= f.text_field :api_key, placeholder: "Marvel's API Key", required: true, autofocus: true, autocomplete: true, class: 'form-control' %>
        <br/>
        <%= f.label :private_key %>
        <%= f.password_field :priv_key, placeholder: "Marvel's Private Key", autocomplete: false, required: true, class: 'form-control' %>
        <%= submit_tag 'Submit', class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    <h6>
        <%= link_to 'Do not have keys, click here!', 'http://developer.marvel.com'  %>
    </h6>
</div>
