<%= render 'layouts/header' %>

<%= render 'layouts/header' %>
<div class="container-fluid aligned">
  <%= link_to "Back", root_path, class: "btn btn-secondary" %>

    <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <div class="card card-outline-primary text-xs-center">
        <div class="card-block">

            <table class="table table-inverse">
                <thead class="thead-default">
                    <tr>
                        <th>API Key</th>
                        <th>Private Key</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='text-left'><%= @user.api_key %></td>
                        <td class='text-left'><%= @user.priv_key %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
