<% # TODO: Implement Decorators and remove logic from View %>
<% # TODO: Fix a bug, when clicking in some Heroes, exception is displayed %>
<%= render 'layouts/header' %>
<div class="container-fluid aligned">
    <div style='margin-bottom: 50px;'>
        <%= link_to "Back", request.referer.present? ? request.referer : characters_path , class: "btn btn-primary" %>
    </div>
    <div class='container'>
        <div class="row">
            <div class="col-sm-8">
                <div class='card'>
                    <h3 class="card-header">Character card</h3>
                    <% # TODO: The image extension should be captured from the API returned data, for this moment, adding the hard-coded extension is the best option %>
                    <%= image_tag("#{@comics.first.character.thumbnail}.jpg", size: "200x200", alt: "Heroe card cap", class: 'card-img-top') %>
                    <div class='card-block'>
                        <h4 class='card-title'><%= @comics.first.character.name %></h4>
                        <p class='card-text'><%= @comics.first.character.description %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= @comics.map do |character_comics| %>
    <div class='container'>
        <div class='row'>
            <div class="col-md-16">
                <div class="card">
                  <% # TODO: Reorder Issue Number to ASC %>
                    <h3 class="card-header">Comic Issue #<%= character_comics.comic.issue_number.to_i %></h3>
                    <% # TODO: The image extension should be captured from the API returned data, for this moment, adding the hard-coded extension is the best option %>
                    <% # TODO: Improve adjustament for mobile %>
                    <div class="row">
                      <div class="col-md-4 col-xs-1"><%= image_tag("#{character_comics.comic.thumbnail}.jpg", size: '450x582', alt: 'Comic cover') %></div>
                      <h4 class="card-title text-xs-right col-xs-14 col-md-7"><%= character_comics.comic.title %></h4>
                      <div class="row">
                      <div class='card-block' style="width: 90rem;">
                        <p class='card-text text-xs-left col-xs-1 col-md-6' style="margin-left: 70px;"><%= character_comics.comic.description %></p>
                      </div>
                    </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
