<% # TODO: Implement Decorators and remove logic from View %>
<%= render 'layouts/header' %>
<div class="container-fluid aligned">

  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

    <div class="card card-outline-primary text-xs-center">
        <div class="card-block">

            <table class="table table-inverse">
                <thead class="thead-default">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Last updated</th>
                    </tr>
                </thead>
                <tbody>
                    <% @characters.each do |model| %>
                    <tr>
                        <td class='text-left'>
                          <%= image_tag("#{model.thumbnail}.jpg", size: "100x100", alt: "Heroe pic") %>
                        </td>
                        <td class='text-left'><%= link_to model.name, character_comics_path(model.id) %></td>
                        <td class='text-left'><%= model.description %></td>
                        <td><%= model.updated_at %></td>
                        <% end %>
                    </tr>
                </tbody>

                <%= paginate @characters %>
            </table>
            <%= paginate @characters %>
        </div>
    </div>
</div>
