<nav class="navbar navbar-dark navbar-fixed-top" style="background-color:#563d7c">
  <div class='nav navbar-nav pull-xs-left'>
    <%= image_tag "dp", class: 'navbar-brand' %>
    <%= link_to 'Home', root_path, class: 'nav-item nav-link' %>
  </div>
</nav>
